.main {
    min-width: 100%;
    padding: 2rem;
    background-color: var(--fondoLogin);

}

.admin-fondo {
    background: var(--fondoLogin);
}

@media (min-width: 1024px) { 
    .main {
        padding: 2rem 9rem;
    }
}